[req]
prompt = no

distinguished_name = dn-name
 
[dn-name]
countryName = AT
organizationName = INTERGALAXY
commonName = INTERGALAXY EUICC CERTIFICATE 
serialNumber = 89049032123451234512345678901235
