build/
bin/
.vscode/
CryptoKey/Scripts/Python/tests-venv
pkcs11-tool.txt
*.odt#
*.log
.DS_Store
CryptoKey/.jcop
CryptoKey/.project
CryptoKey/.classpath
CryptoKey/.settings/org.eclipse.jdt.core.prefs
CryptoKey/.DS_Store
